@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #292E36;
    background-size: 100%;
}

.call {
    border-bottom: 2px solid #5C6168;
    padding-bottom: 40px;
}

.call .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.call-link {
    border: 2px solid #E1B168;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
}

.call-img {
    width: 300px;
}

.call-wrapper {
    background-color: #E1B168;
    color: #111;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 18px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    margin: 20px 0;
}

.nav-list {
    display: flex;
}

.nav-link {
    margin: 0 15px;
    color: #fff;
    transition: .5s;
}

.nav-link:hover {
    color: #E1B168;
}

.nav-icons a i {
    color: #fff;
    margin: 0 15px;
    font-size: 22px;
}

.fa-instagram:hover {
    border-radius: 5px;
    background: linear-gradient(#8a3ab9, #e95950, #bc2a8d, #fccc63, #fbad50, #cd486b, #4c68d7);
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-pinterest:hover {
    color: #E60023;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text, .main-photo {
    width: 45%;
}

.main-title {
    font-size: 80px;
    color: #fff;
    font-family: 'Cormorant', serif;
    font-weight: 200;
}

.main-subtext {
    margin: 25px 0;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
}

.main-link {
    border: 2px solid #E1B168;
    padding: 15px 40px;
    color: #E1B168;
    font-size: 18px;
}

@media(max-width: 1160px) {
    .container {
        width: 1040px;
    }
}

@media(max-width: 1060px) {
    .container {
        width: 940px;
    }
}

@media(max-width: 960px) {
    .container {
        width: 840px;
    }
}

@media(max-width: 900px) {
    .container {
        width: 780px;
    }

    .nav-icons {
        display: none;
    }

    .nav-list {
        margin: auto;
    }

    .main-title {
        font-size: 60px;
    }
}

@media(max-width: 800px) {
    .container {
        width: 680px;
    }

    .nav-icons {
        display: none;
    }

    .nav-list {
        margin: auto;
    }

    .main-title {
        font-size: 60px;
    }

    .call-link {
        padding: 15px 15px;
        font-size: 10px;
    }

    .call-img {
        width: 200px;
    }

    .call-wrapper {
        padding: 15px 20px;
        font-size: 10px;
    }

    .main-link {
        padding: 10px 20px;
    }

    .main-subtext {
        font-size: 14px;
        line-height: 20px;
        margin: 12px 0;
    }
}

@media(max-width: 700px) {
    .container {
        width: 580px;
    }

    .nav-icons {
        display: none;
    }

    .nav-list {
        margin: auto;
    }

    .nav-link {
        font-size: 14px;
    }

    .main-title {
        font-size: 50px;
    }

    .call-link {
        padding: 15px 15px;
        font-size: 10px;
    }

    .call-img {
        width: 200px;
    }

    .call-wrapper {
        padding: 15px 20px;
        font-size: 10px;
    }

    .main-link {
        padding: 10px 20px;
    }

    .main-subtext {
        font-size: 14px;
        line-height: 20px;
        margin: 12px 0;
    }


}

@media(max-width: 600px) {
    .container {
        width: 480px;
    }

    .main .container {
        display: flex;
        flex-direction: column;
    }

    .nav-icons {
        display: none;
    }

    .nav-list {
        margin: auto;
    }

    .nav-link {
        font-size: 14px;
    }

    .main-text, .main-photo {
        width: 100%;
    }

    .main-title {
        font-size: 50px;
    }

    .call-link {
        padding: 15px 15px;
        font-size: 10px;
    }

    .call-img {
        width: 200px;
    }

    .call-wrapper {
        padding: 15px 20px;
        font-size: 10px;
    }

    .main-link {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-subtext {
        font-size: 16px;
        line-height: 20px;
        margin: 12px 0;
        text-align: center;
    }

    .main-photo img {
        margin-top: 30px;
    }


}

@media(max-width: 500px) {
    .container {
        width: 380px;
    }

    .main .container {
        display: flex;
        flex-direction: column;
    }

    .nav-icons {
        display: none;
    }

    .nav-list {
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .nav-link {
        font-size: 16px;
        margin-top: 15px;
    }

    .main-text, .main-photo {
        width: 100%;
    }

    .main-title {
        font-size: 40px;
    }

    .call-link {
        display: none;
    }

    .call-img {
        width: 300px;
        margin: auto;
    }

    .call-wrapper {
        display: none;
    }

    .main-link {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-subtext {
        font-size: 13px;
        line-height: 20px;
        margin: 12px 0;
        text-align: center;
    }

    .main-photo img {
        margin-top: 30px;
    }


}

@media(max-width: 400px) {
    .container {
        width: 280px;
    }

    .main .container {
        display: flex;
        flex-direction: column;
    }

    .nav-icons {
        display: none;
    }

    .nav-list {
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .nav-link {
        font-size: 16px;
        margin-top: 15px;
    }

    .main-text, .main-photo {
        width: 100%;
    }

    .main-title {
        font-size: 30px;
    }

    .call-link {
        display: none;
    }

    .call-img {
        width: 200px;
        margin: auto;
    }

    .call-wrapper {
        display: none;
    }

    .main-link {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-subtext {
        font-size: 11px;
        line-height: 20px;
        margin: 12px 0;
        text-align: center;
    }

    .main-photo img {
        margin-top: 30px;
    }


}